src/main/resources/Label/labels_schema_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://benchresources.in/cdm/Player" xmlns:tns="http://benchresources.in/cdm/Player"
	elementFormDefault="qualified">

	<!-- LabelModel input -->
	<xsd:element name="LabelInputModel">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="name" type="xsd:string" />
				<xsd:element name="color" type="xsd:string" />
				<xsd:element name="scope" type="xsd:string" default="activity"/>
				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>

