src/main/resources/Location/location_schema_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://benchresources.in/cdm/Player" xmlns:tns="http://benchresources.in/cdm/Player"
	elementFormDefault="qualified">

	<!-- LocationModel input -->
	<xsd:element name="LocationInputModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="location" type="xsd:string" />
				<xsd:element name="geolocation" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>

